
<link href="../Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/ToasterWithBtnAndRibonCustom.css" rel="stylesheet" type="text/css" />

<style>
    @media only screen and (min-device-width : 200px) and (max-device-width : 767px) {

        #navigationUrlHide {
            display: none;
        }

        .BtnWidth {
            width: 100%;
            margin: 4px;
        }

        .DivMargin {
            margin-top: 5px;
        }
    }
</style>

<div class="row">
    <div class="col-lg-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb" id="navigationUrlHide">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Sundarban</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Admin </a></li>
                    <li class="breadcrumb-item active">Store Rack</li>
                </ol>
            </div>
            <h4 class="page-title">Store Rack</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<!-- end page title end breadcrumb -->
<!-- end page title end breadcrumb -->
<div class="container-fluid">

    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">

                        <h4 class="card-header  text-white mt-0 PalelColor">
                            <i class="mdi mdi-format-list-bulleted-type"></i> StoreRack
                        </h4>
                        <hr />

                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-text-width"></i></button>
                                </span>

                                <input type="text" id="textUsername" ng-change="DuplicateGroupName()" ng-model="ad_StoreRack.RackDescription" name="userName" class="form-control" placeholder="Rack Description">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <!--<span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-caret-down"></i></button>
                                </span>-->
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor" ng-click="ReloadStore()"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlStore" ng-options="Store.StoreName for Store in StoreList track by Store.Id">
                                    <option value=""> --Select Store--</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <label style="font-size:16px;font-weight:bold;">Status</label>

                                <div class="radio text-success" style="margin-left:5px;margin-top:0px;">
                                    <input type="radio" name="IsActive" id="radio3" ng-model="ad_StoreRack.IsActive" ng-value="true">
                                    <label for="radio3">
                                        Active
                                    </label>
                                    <input type="radio" name="IsActive" id="radio4" ng-model="ad_StoreRack.IsActive" ng-value="false">
                                    <label for="radio4">
                                        Inactive
                                    </label>


                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <button style="width:100%" ng-click="StoreRackSave()" class="btn  btn-outline-dark">{{button}}</button>
                            </div>
                            <div class="col-md-6">
                                <button style="width:100%" class="btn btn-outline-danger" ng-click="ClearBtn()">Reset</button>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-7">
                        <div class="ribbon-1">
                            <div class="ribbon-box">

                                <div class="ribbon ribbon-mark" style="background-color:#2d4971 !important;color:white;font-weight:bold">
                                    <i class="fa fa-list-alt" style="font-size:18px;color:white;"></i> StoreRack List
                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <div class="input-group">
                                                <span class="input-group-prepend">
                                                    <button type="button" class="btn  IconColor"><i class="fa fa-text-width"></i></button>
                                                </span>
                                                <input type="text" id="textUsername" ng-model="SearchItem" name="userName" class="form-control" placeholder="Search StoreRack...">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <button style="width:100%" class="btn  btn-outline-dark" ng-click="SearchBtn()">Search </button>
                                    </div>
                                    <div class="col-md-3">
                                        <button style="width:100%" class="btn btn-outline-danger" ng-click="ClearBtn()">Clear </button>
                                    </div>
                                </div>
                                <hr />
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0 table-centered">
                                        <thead>
                                            <tr style="background-color:#87b3a6; ">
                                                <th class="text-center">S/N</th>
                                                <th class="text-center">StoreRack Name</th>
                                                <th class="text-center">Store Name</th>
                                                <th class="text-center">Status</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr dir-paginate="aStoreRack in StoreRackList | filter:q | itemsPerPage: PerPage" current-page="currentPage" total-items="total_count" pagination-id="Item">
                                                <td class="text-center">{{$index + (( currentPage - 1) * PerPage) + 1}}</td>
                                                <td class="text-center">{{aStoreRack.RackDescription}}</td>
                                                <td class="text-center">{{aStoreRack.StoreName}}</td>
                                                <td class="text-center">
                                                    <!--{{aStoreRack.IsActive}}-->
                                                    <p ng-if="aStoreRack.IsActive==true">Active</p>
                                                    <p ng-if="aStoreRack.IsActive==false">se
Inactive
                                                    </p>
                                                    se
                                                </td>
                                                <td class="text-center">
                                                    <button class="btn IconColor" ng-click="SelStoreRack(aStoreRack)">
                                                        <i class="typcn typcn-edit" style="font-size:22px; color:black"></i>
                                                    </button>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table><!--end /table-->
                                    <div ng-show="total_count>PerPage">
                                        <hr />
                                        <div style="background-color:#2d4971" class="btn">
                                            <dir-pagination-controls max-size="8"
                                                                     direction-links="true"
                                                                     boundary-links="true"
                                                                     on-page-change="getData(newPageNumber)" style="text-align:center;"
                                                                     pagination-id="Item">
                                            </dir-pagination-controls>
                                        </div>
                                    </div>

                                    <br />
                                    <br />
                                    <div class="row pagination-footer">
                                        <div class="col-md-6">
                                            <span>Show </span><input class="input-pagesize" type="number" min="1" max="100" step="1" ng-maxlength="100" ng-minlength="1" width="1" ng-model="PerPage"> <span>Records </span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="pull-right">Showing {{((currentPage-1)*PerPage)+1}} to {{((currentPage-1) * PerPage) + StoreRackList.length}} of {{total_count}} Records</span>
                                        </div>
                                    </div>
                                </div><!--end /tableresponsive-->
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!-- end col -->
</div> <!-- end row -->
<div class="row">

</div>
<!--<script src="../Content/assets/js/jquery.min.js"></script>-->
<script src="../Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../Content/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="../Content/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="../Content/assets/plugins/datatables/jszip.min.js"></script>
<script src="../Content/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="../Content/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.colVis.min.js"></script>

<script src="../Content/assets/js/bootstrap.bundle.min.js"></script>
<script src="../Content/assets/js/metisMenu.min.js"></script>
<script src="../Content/assets/js/waves.min.js"></script>
<script src="../Content/assets/js/jquery.slimscroll.min.js"></script>




<script src="../../../Content/assets/Sample/irregular-data-seriz.js"></script>
<script src="../../../Content/assets/Sample/ohlc.js"></script>

<link href="../../../Content/ALLItemCustom.css" rel="stylesheet" />
<link href="../../../Content/PaginationCustom.css" rel="stylesheet" />
<style>

    .card {
        margin-bottom: 24px;
        border: none;
        -webkit-box-shadow: 0 6px 20px #44b4a1 !important;
        box-shadow: 0 6px 20px #44b4a1 !important;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
    }

    .popover {
        max-width: 354px;
        word-break: break-all;
        word-wrap: break-word;
        width: 115%;
        max-height: 325px;
        overflow: auto;
    }

    .Pagination-And-Report {
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        align-items: center;
    }

    .Only-Report {
        display: flex;
        margin-top: 25px;
        justify-content: end;
        align-items: center;
    }
</style>




