
<link href="../Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../Content/ToasterWithBtnAndRibonCustom.css" rel="stylesheet" type="text/css" />
<style>
    @media only screen and (min-device-width : 200px) and (max-device-width : 767px) {

        #navigationUrlHide {
            display: none;
        }

        .BtnWidth {
            width: 100%;
            margin: 4px;
        }

        .DivMargin {
            margin-top: 5px;
        }
    }
</style>

<link href="../../../Content/ALLItemCustom.css" rel="stylesheet" />
<div class="row">
    <div class="col-lg-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb" id="navigationUrlHide">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Sundorbon</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Security </a></li>
                    <li class="breadcrumb-item active">Permission</li>
                </ol>
            </div>
            <h4 class="page-title">Permission</h4>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<!-- end page title end breadcrumb -->
<!-- end page title end breadcrumb -->
<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <!--<h3 class="header-title">
                <i class="fa fa-list"></i> Role Wise Permission
            </h3>-->
            <h4 class="card-header  text-white mt-0 PalelColor">
                <i class="mdi mdi-format-list-bulleted-type"></i> Role Wise Permission
            </h4>
           <br />
            <div class="row">
                <div class="col-md-4">


                    <div class="form-group">
                        <div class="input-group">

                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-caret-down"></i></button>
                                </span>
                                <!-- <select class="form-control" ng-model="ddlRole" ng-change="OnPermission(ddlRole)" ng-options="role.RoleName for role in Rolelist track by role.RoleId"> -->
                                <select class="form-control" ng-model="ddlRole" ng-change="SelectRole(ddlRole)" ng-options="role.RoleName for role in Rolelist track by role.RoleId">

                                    <option value=""> --- Role Name -- </option>
                                </select>
                            </div>


                        </div>
                    </div>




                </div>


            </div>
            <hr />
            <div class="row">

                <div class="col-md-12">

                    <div class="table-responsive">
                        <table class="table table-bordered mb-0 table-centered">
                            <tbody>
                                <tr class="t-head">
                                    <th>S/N</th>
                                    <th data-th="Permission Details" width="20%"><span>Screen Name</span></th>
                                    <th class="t-cell-center" width="15%">Module Name</th>
                                    <th style="text-align:center;" width="10%">Menu&nbsp;&nbsp;&nbsp;<input type="checkbox" ng-model="selectAllCheckBox" ng-change="SelectAllCheckBox(selectAllCheckBox)" /></th>
                                    <th>Detail</th>
                                </tr>
                                <tr ng-repeat="aScreen in Screenlist ">
                                    <td>{{$index + 1}}</td>
                                    <td>{{aScreen.Description}}</td>
                                    <!--<td>{{aScreen.ScreenName}}</td>-->
                                    <td class="t-cell-center">{{aScreen.ModuleName}}</td>
                                    <td style="text-align:center;">
                                        <input type="checkbox" ng-model="aScreen.selected" ng-change="SelectAllCheckBox(aScreen,selectAllCheckBox)" ng-disabled="!ddlRole"><br>
                                    </td>
                                    <td>
                                        <span class="chk-box-alinment"></span>
                                        <label class="checkbox-inline" ng-repeat="detail in aScreen.DetailList">
                                            <input style="margin:5px;" type="checkbox" ng-model="detail.CanExecute" ng-click="ChkDetail(aScreen, detail.ScreenDetailId, detail.CanExecute)" /> {{detail.FunctionName}}
                                        </label>
                                    </td>
                                </tr>
                                <!--<tr ng-repeat="aScreen in Screenlist ">
                                <td>{{$index + 1}}</td>
                                <td>{{aScreen.Description}}</td>-->
                                <!--<td>{{aScreen.ScreenName}}</td>-->
                                <!--<td class="t-cell-center">{{aScreen.ModuleName}}</td>
                                    <td style="text-align:center;">
                                        <input type="checkbox" ng-model="aScreen.selected" ng-click="SelectScreen(aScreen)" ng-disabled="!ddlRole.role"><br>
                                    </td>
                                    <td>
                                        <span class="chk-box-alinment"></span>
                                        <label class="checkbox-inline" ng-repeat="detail in aScreen.DetailList">
                                            <input type="checkbox" ng-model="detail.CanExecute" ng-click="ChkDetail(aScreen, detail.ScreenDetailId, detail.CanExecute)" ng-disabled="!ddlRole.role" />{{detail.FunctionName}}
                                        </label>
                                    </td>
                                </tr>-->
                            </tbody>
                        </table><!--end /table-->

                    </div><!--end /tableresponsive-->
                    <br />
                    >

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <button style="width:100%" ng-click="AddPermission()" ng-disabled="!ddlRole" class="btn btn btn-outline-dark" title="Save">
                                    <i class="fa fa-floppy-o"></i>&nbsp;Save
                                </button>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button style="width:100%" ng-click="Reset()" class="btn btn btn-outline-danger" title="Reset">
                                    <i class="fa fa-floppy-o"></i>&nbsp;Reset
                                </button>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div><!--end card-body-->
    </div><!--end card-->
</div> <!-- end col -->
<!--<script src="../Content/assets/js/jquery.min.js"></script>-->
<script src="../Content/assets/js/bootstrap.bundle.min.js"></script>
<script src="../Content/assets/js/metisMenu.min.js"></script>
<script src="../Content/assets/js/waves.min.js"></script>
<script src="../Content/assets/js/jquery.slimscroll.min.js"></script>




<script src="../../../Content/assets/Sample/irregular-data-seriz.js"></script>
<script src="../../../Content/assets/Sample/ohlc.js"></script>



