
<link href="../Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/ToasterWithBtnAndRibonCustom.css" rel="stylesheet" type="text/css" />

<style>
    @media only screen and (min-device-width : 200px) and (max-device-width : 767px) {

        #navigationUrlHide {
            display: none;
        }

        .BtnWidth {
            width: 100%;
            margin: 4px;
        }

        .DivMargin {
            margin-top: 5px;
        }
    }
</style>


<!-- end page title end breadcrumb -->
<!-- end page title end breadcrumb -->
<div class="container-fluid">

    <div class="col-lg-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb" id="navigationUrlHide">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Sundarban</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Admin </a></li>
                    <li class="breadcrumb-item active">Adjustment</li>
                </ol>
            </div>

        </div><!--end page-title-box-->
    </div><!--end col-->
    <br />

    <div class="col-lg-12">

        <div class="card">

            <h4 class="card-header  text-white mt-0 PalelColor">
                <i class="mdi mdi-format-list-bulleted-type"></i> Adjustment

            </h4>
            <!--<br />-->
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input type="date" id="AdjustmentDate" ng-model="Adjustment.AdjustmentDate" name="AdjustmentDate" class="form-control" placeholder="Adjustment Date">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="AdjustmentNumber" ng-model="Adjustment.Number" name="AdjustmentNumber" class="form-control" placeholder="Adjustment Number" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor" ng-click="ReloadEmployee()"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlEmployee" name="ddlGrade" ng-options="emp.FullName for emp in EmployeeList track by emp.EmployeeId">
                                    <option value=""> --Requested By Employee --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input type="text" id="AdjustedReason" ng-model="Adjustment.AdjustedReason" name="AdjustedReason" class="form-control" placeholder="Adjusted Reason">
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-md-3">
                        <div>
                            <select class="form-control" ng-model="CounterId" name="ddlGrade" ng-options="coun.CounterName for coun in CounterList track by coun.Id">
                                <option value="">--Counter--</option>
                            </select>
                        </div>
                    </div>-->
                </div>
               <!-- <br />-->

                <!--<hr />-->

                <div class="row">

                    <!--<div class="col-md-3">
        <div class="form-group">
            <div class="input-group">

                <select class="form-control" ng-model="ddlAdjustmentNumber" name="ddlAdjustmentNumber" ng-options="pur.Name for pur in PurchaseBillList track by pur.Id">
                    <option value=""> --Purchase Requisition Number --</option>
                </select>
            </div>
        </div>
    </div>-->
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor" ng-click="ReloadItem()"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlItem" name="ddlGrade" ng-options="item.Combination for item in ItemList track by item.Id">
                                    <option value=""> --Select Item--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor" ng-click="ReloadStoreRack()"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlStoreRack" ng-options="StoreRack.RackDescription for StoreRack in StoreRackList track by StoreRack.Id">
                                    <option value=""> --Store Rack--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <select class="form-control" ng-model="ddlIsIncreased" ng-options="IsIncreased.IsIncreased for IsIncreased in IsIncreasedList track by IsIncreased.Id">
                                    <option value=""> --Is Increased--</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-sort-numeric-up"></i></button>
                                </span>
                                <input type="number" id="AdjustedQty" ng-model="AdjustmentDetail.AdjustedQty" name="AdjustedQty" class="form-control" placeholder="Adjusted Qty">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-sort-numeric-up"></i></button>
                                </span>
                                <input type="number" id="AdjstedUnitPrice" ng-model="AdjustmentDetail.AdjstedUnitPrice" name="AdjstedUnitPrice" class="form-control" placeholder="Adjsted Unit Price">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <input type="text" id="Remarks" ng-model="AdjustmentDetail.Remarks" name="Remarks" class="form-control" placeholder="Remarks">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-3" >
                        <button style="width:100%" ng-click="addAdjustmentDetail()" class="btn btn-dark">{{buttonAdjustmentDetails}}</button>
                    </div>
                </div>

                <!--<hr />-->
            <br/>
                <div class="row" >
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="item_table" class="table table-borderless table-hover mb-0 table-centered">
                                <thead style="background-color:#87b3a6; ">
                                    <tr class="tableHeadCustom">
                                        <th class="text-center">S/N</th>
                                        <th class="text-center">Item Name With Description</th>
                                        <th class="text-center">Rack</th>
                                        <th class="text-center">IsIncreased</th>
                                        <th class="text-center">Adjusted Qty </th>
                                        <th class="text-center">Adjsted Unit Price </th>
                                        <th class="text-center">Remarks</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="aAdjustment in AdjustmentDetailList track by $index">
                                        <td class="text-center">
                                            {{$index +1}}
                                        </td>

                                        <td class="text-center">
                                            {{aAdjustment.Combination}}
                                        </td>
                                        <td class="text-center">
                                            {{aAdjustment.Rack}}
                                        </td>
                                        <td class="text-center">
                                            <span ng-if="aAdjustment.IsIncreased==true">
                                                yes
                                            </span>
                                            <span ng-if="aAdjustment.IsIncreased==false">
                                                No
                                            </span>
                                        </td>
                                        <td class="text-center">
                                            {{aAdjustment.AdjustedQty}}
                                        </td>
                                        <td class="text-center">
                                            {{aAdjustment.AdjstedUnitPrice}}
                                        </td>
                                        <td class="text-center">
                                            {{aAdjustment.Remarks}}
                                        </td>
                                        <td class="text-center" ng-if="!Updating">
                                            <button class="btn btn-dark" ng-click="Remove(aAdjustment)">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </td>
                                        <td class="text-center" ng-if="Updating">
                                            <button class="btn btn-dark" ng-click="UpdateAdjustmentDetails(aAdjustment)">
                                                <i class="typcn typcn-edit" style="font-size:22px;"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div ng-if="AdjustmentDetailList.length>0">
                                <hr />
                            </div>

                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-2">
                        <button style="width:100%" ng-click="AdjustmentSave()" class="btn btn-outline-dark">{{button}} </button>
                    </div>
                    <div class="col-md-2">
                        <button style="width:100%" class="btn btn-outline-danger" ng-click="ResetItem()">Reset </button>
                    </div>
                </div>
                <!--<br />-->
                <br />
                <div class="ribbon-1">
                    <div class="ribbon-box">
                        <div class="ribbon ribbon-mark" style="background-color:#2d4971 !important;color:white;font-weight:bold">
                            <i class="fa fa-list-alt" style="font-size:18px;color:white;"></i> Adjustment List
                        </div>

                        <div class="row">
                            <div class="col-md-4">

                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn IconColor"><i class="fa fa-text-width"></i></button>
                                        </span>
                                        <input type="text" id="textUsername" ng-model="SearchItem" name="userName" class="form-control" placeholder="Adjustment">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button style="width:100%;" class="btn btn-outline-dark" ng-click="SearchBtn()">Search </button>
                            </div>
                            <div class="col-md-2">
                                <button style="width:100%" class="btn btn-outline-danger" ng-click="ClearBtn()">Clear </button>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-12">

                                <div class="table-responsive">
                                    <table id="item_table" class="table table-borderless table-hover mb-0 table-centered">
                                        <thead style="background-color:#87b3a6; ">
                                            <tr class="tableHeadCustom">
                                                <th class="text-center">S/N</th>
                                                <th class="text-center">Adjustment No </th>
                                                <th class="text-center">Adjustment Date</th>
                                                <th class="text-center">Adjusted By User Name</th>
                                                <th class="text-center">Adjusted Reason</th>
                                                <th class="text-center">Counter Name</th>
                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="datatable-buttons" dir-paginate="aAdjustment in AdjustmentList | itemsPerPage: PerPage" current-page="currentPage" total-items="total_count" pagination-id="Item">
                                                <td class="t-cell-center">{{$index + (( currentPage - 1) * PerPage) + 1}}</td>
                                                <td class="text-center">{{aAdjustment.Number}}</td>
                                                <td class="text-center">
                                                    {{aAdjustment.AdjustmentDate}}
                                                </td>
                                               
                                                <td class="text-center">{{aAdjustment.FullName}}</td>
                                                <td class="text-center">{{aAdjustment.AdjustedReason}}</td>
                                                <td class="text-center">{{aAdjustment.CounterName}}</td>
                                                <td class="text-center">
                                                    <button class="btn IconColor" ng-click="UpdateAdjustment(aAdjustment)">
                                                        <i class="typcn typcn-edit" style="font-size:22px; color:black"></i>
                                                    </button>
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>

                                    <div class="{{PaginationAndReport}}">
                                        <div ng-show="total_count >PerPage">
                                            <div class="btn" style="background-color:#2d4971">
                                                <dir-pagination-controls max-size="8"
                                                                         direction-links="true"
                                                                         boundary-links="true"
                                                                         on-page-change="getData(newPageNumber)" style="text-align:center;"
                                                                         pagination-id="Item">
                                                </dir-pagination-controls>
                                            </div>

                                        </div>

                                    </div>


                                    <br />
                                    <br />

                                    <div class="row pagination-footer">
                                        <div class="col-md-6">
                                            <span>Show </span><input class="input-pagesize" type="number" ng-maxlength="100" ng-minlength="1" width="1" ng-model="PerPage"> <span>Records </span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="pull-right">Showing {{((currentPage-1)*PerPage)+1}} to {{((currentPage-1) * PerPage) + AdjustmentList.length}} of {{total_count}} Records</span>
                                        </div>
                                    </div>

                                </div><!--end /tableresponsive-->
                            </div>
                        </div>
                    </div>
                </div>
                <!--<h5 class="card-header btn-gradient-primary text-white ">
                    <i class="fa fa-list-alt"></i> Item Setup List
                </h5>-->


            </div><!--end card-body-->


        </div><!--end card-->



    </div><!--end card-->
</div> <!-- end col -->
<!--<script src="../Content/assets/js/jquery.min.js"></script>-->
<!-- Required datatable js -->
<script src="../Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../Content/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="../Content/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="../Content/assets/plugins/datatables/jszip.min.js"></script>
<script src="../Content/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="../Content/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.colVis.min.js"></script>

<script src="../Content/assets/js/bootstrap.bundle.min.js"></script>
<script src="../Content/assets/js/metisMenu.min.js"></script>
<script src="../Content/assets/js/waves.min.js"></script>
<script src="../Content/assets/js/jquery.slimscroll.min.js"></script>




<script src="../../../Content/assets/Sample/irregular-data-seriz.js"></script>
<script src="../../../Content/assets/Sample/ohlc.js"></script>

<link href="../../../Content/ALLItemCustom.css" rel="stylesheet" />
<link href="../../../Content/PaginationCustom.css" rel="stylesheet" />
<style>

    .card {
        margin-bottom: 24px;
        border: none;
        -webkit-box-shadow: 0 6px 20px #44b4a1 !important;
        box-shadow: 0 6px 20px #44b4a1 !important;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
    }

    .popover {
        max-width: 354px;
        word-break: break-all;
        word-wrap: break-word;
        width: 115%;
        max-height: 325px;
        overflow: auto;
    }

    .Pagination-And-Report {
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        align-items: center;
    }

    .Only-Report {
        display: flex;
        margin-top: 25px;
        justify-content: end;
        align-items: center;
    }
</style>

<!--<script>
    $('#AdjustmentDate').bootstrapMaterialDatePicker({
        format: 'DD/MM/YYYY',
        cancelText: 'Descartar',
        time: false,
        clearButton: true

    });
</script>-->




