
<link href="../Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/icons.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/css/style.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="../Content/ToasterWithBtnAndRibonCustom.css" rel="stylesheet" type="text/css" />

<style>
    @media only screen and (min-device-width : 200px) and (max-device-width : 767px) {

        #navigationUrlHide {
            display: none;
        }

        .BtnWidth {
            width: 100%;
            margin: 4px;
        }

        .DivMargin {
            margin-top: 5px;
        }
    }
</style>


<!-- end page title end breadcrumb -->
<!-- end page title end breadcrumb -->
<div class="container-fluid">

    <div class="col-lg-12">
        <div class="page-title-box">
            <div class="float-right">
                <ol class="breadcrumb" id="navigationUrlHide">
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Sundarban</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0);">Admin </a></li>
                    <li class="breadcrumb-item active">Purchase Requisition</li>
                </ol>
            </div>

        </div><!--end page-title-box-->
    </div><!--end col-->
    <br />

    <div class="col-lg-12">

        <div class="card">

            <h4 class="card-header  text-white mt-0 PalelColor">
                <i class="mdi mdi-format-list-bulleted-type"></i>Work shop Requisition Slip

            </h4>
       
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <p style="font-size:18px;font-weight:bold;">
                            <i class="mdi mdi-format-list-bulleted-type"></i>Job List

                        </p>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-search"></i></button>
                                </span>
                                <input type="text" id="Search" name="Search" ng-change="CheckFilter()" ng-model="SearchPBFilter" class="form-control" placeholder="Search">
                            </div>
                        </div>
                    </div>
                  
                    <div class="col-md-1">
                        <div class="form-group">
                            <div class="input-group">
                                <button type="button" class="btn btn-danger" ng-click="ClearSearch()"><i class="fa fa-refresh"></i>Clear</button>
                            </div>
                        </div>
                    </div>
                    <hr />
                </div>
             
                <div class="row">

                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="item_table" class="table table-borderless table-hover mb-0 table-centered">
                                <thead style="background-color:#87b3a6; ">
                                    <tr class="tableHeadCustom">
                                        <th class="text-center">S/N</th>
                                        <th class="text-center">Number</th>
                                        <th class="text-center">Job Date</th>
                                        <th class="text-center">Driver Information</th>
                                        <th class="text-center">Vehicle No</th>
                                        <th class="text-center">Purpose</th>
                                        <th class="text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="datatable-buttons" dir-paginate="aRequestion in JobListForRequestion|filter:SearchPBFilter | itemsPerPage: samplePerPage" current-page="samplecurrentPage" total-items="TotalLength" pagination-id="SamplePage" ng-click="SelectJob(aRequestion)">

                                        <td class="text-center">

                                            <!--{{$index + 1}}-->
                                            {{$index + ((samplecurrentPage -1) * samplePerPage) + 1}}
                                        </td>

                                        <td class="text-center">
                                            {{aRequestion.Number}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.JobDate}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.DriverInformation}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.VehicleNo}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.Purpose}}
                                        </td>
                                        <td class="text-center">
                                            <button class="btn IconColor" ng-click="StockReportView(aRequestion.Number)">
                                                <i class="typcn typcn-printer" style="font-size:22px; color:black"></i>
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <div ng-show="TotalLength>samplePerPage" class=" btn " style="background-color:#2d4971">
                                <dir-pagination-controls max-size="8"
                                                         direction-links="true"
                                                         boundary-links="true"
                                                         on-page-change="GetSampleDate(newPageNumber)" style="text-align:center;"
                                                         pagination-id="SamplePage">
                                </dir-pagination-controls>
                            </div>
                            <div style="float:right">
                                <span ng-show="TotalLength>samplePerPage" class="text-right" style="color:black;">Showing <span> {{((samplecurrentPage-1)*samplePerPage)+1}}</span>  to {{((samplecurrentPage-1) * samplePerPage) + PurchaseRequestionDetailList.length}} of {{TotalLength}} Records</span>
                            </div>

                        </div>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-calendar"></i></button>
                                </span>
                                <input type="text" id="RequisitionDate" ng-model="ws_Requestion.RequistionDate" name="RequisitionDate" class="form-control" placeholder="Req.Date (dd/mm/yy)" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-text-width"></i></button>

                                </span>
                                <input type="text" id="Number" ng-model="ws_Requestion.JobNumber" min="0" max="100" step="1" name="RequisitionNumber" class="form-control" placeholder="Job Number" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-text-width"></i></button>

                                </span>
                                <input type="text" id="Number" ng-model="ws_Requestion.ManualReferenceNo" min="0" max="100" step="1" name="ManualReferenceNo" class="form-control" placeholder="Manual Reference No">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlRequestionType" name="ddlGrade" ng-options="pur.RequistionType for pur in RequestionTypeList track by pur.Id">
                                    <option value=""> --Requestion Type --</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlEmployee" name="ddlGrade" ng-options="emp.FullName for emp in EmployeeList track by emp.EmployeeId">
                                    <option value=""> --Requested By Employee --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlEmployee1" name="ddlGrade" ng-options="emp.FullName for emp in EmployeeList track by emp.EmployeeId">
                                    <option value=""> --For Driver Employee --</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-text-width"></i></button>

                                </span>
                                <input type="text" id="Number" ng-model="ws_Requestion.Remarks" min="0" max="100" step="1" name="Remarks" class="form-control" placeholder="Remarks">
                            </div>
                        </div>
                    </div>

                </div>
                <hr />
                <!--<div class="row">


                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor" ng-click="ReloadItem()"><i class="fas fa-sync" aria-hidden="true"></i></button>
                                </span>
                                <select class="form-control" ng-model="ddlItem" name="ddlGrade" ng-options="item.Combination for item in ItemList track by item.Id">
                                    <option value=""> --Select Item--</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-sort-numeric-up"></i></button>
                                </span>
                                <input type="number" id="RequestedQty" ng-model="WSRequestionDetail.RequestedQty" name="RequestedQty" class="form-control" placeholder="Requested Qty">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-sort-numeric-up"></i></button>
                                </span>
                                <input type="number" id="DamagedItemQty" ng-model="WSRequestionDetail.DamagedItemQty" name="DamagedItemQty" class="form-control" placeholder="Damaged Item Qty">
                            </div>
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-prepend">
                                    <button type="button" class="btn IconColor"><i class="fa fa-text-width"></i></button>
                                </span>
                                <textarea cols="1" rows="1" ng-model="WSRequestionDetail.Remarks" name="RequestedQty" class="form-control" placeholder="Remarks">

                                </textarea>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-9">

                    </div>
                    <div class="col-md-3">
                        <button style="width:100%" ng-click="addWsRequestionDetail()" class="btn btn-dark">{{addBtn}}</button>
                    </div>

                </div>-->
                <br />


                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table id="item_table" class="table table-borderless table-hover mb-0 table-centered">
                                <thead style="background-color:#87b3a6; ">
                                    <tr class="tableHeadCustom">
                                        <th class="text-center">S/N</th>
                                        <th class="text-center">Item Name With Description</th>
                                        <th class="text-center">Requested Qty</th>
                                        <th class="text-center">Damaged Qty</th>
                                        <th class="text-center">Remarks</th>
                                        <!--<th class="text-center">Action</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr id="datatable-buttons" dir-paginate="aRequestion in WsRequestionDetailList | itemsPerPage: wsPerPage" current-page="WsCurrentPage" total-items="wsTotalLength" pagination-id="WsPage">

                                        <td class="text-center">
                                            {{$index + ((WsCurrentPage -1) * wsPerPage) + 1}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.Combination}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.ItemRequiredFromStoreQty}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.ItemDamagedQty}}
                                        </td>
                                        <td class="text-center">
                                            {{aRequestion.Remarks}}
                                        </td>



                                        <!--<td class="text-center">
                                            <button class="btn btn-dark" ng-disabled="!aRequestion.Id" ng-click="RowEdit(aRequestion)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button class="btn btn-dark" ng-click="Remove(aRequestion)">
                                                <i class="fa fa-minus"></i>
                                            </button>

                                        </td>-->
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <div ng-show="wsTotalLength>wsPerPage" class=" btn " style="background-color:#2d4971">
                                <dir-pagination-controls max-size="8"
                                                         direction-links="true"
                                                         boundary-links="true"
                                                         on-page-change="GetReqDetailsDate(newPageNumber)" style="text-align:center;"
                                                         pagination-id="WsPage">
                                </dir-pagination-controls>

                            </div>
                            <div style="float:right">
                                <span ng-show="wsTotalLength>wsPerPage" class="text-right" style="color:black;">Showing <span> {{((WsCurrentPage-1)*wsPerPage)+1}}</span>  to {{((WsCurrentPage-1) * wsPerPage) + WsRequestionDetailList.length}} of {{wsTotalLength}} Records</span>
                            </div>



                        </div>
                    </div>
                </div>
                <br />

                <div class="row">
                    <div class="col-md-2">
                        <button style="width:100%" ng-click="PurchaseRequisitionSave()" class="btn btn-outline-dark">{{btnName}} </button>
                    </div>
                    <div class="col-md-2">
                        <button style="width:100%" class="btn btn-outline-danger" ng-click="ResetItem()">Reset </button>
                    </div>
                </div>
                <br />
                <div class="ribbon-1">
                    <div class="ribbon-box">
                        <div class="ribbon ribbon-mark" style="background-color:#2d4971 !important;color:white;font-weight:bold">
                            <i class="fa fa-list-alt" style="font-size:18px;color:white;"></i> Work shop List
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn IconColor"><i class="fa fa-calendar"></i></button>
                                        </span>
                                        <input type="text" id="FormDate" ng-model="FormDate" name="FormDate" class="form-control" placeholder="Form Date " readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn IconColor"><i class="fa fa-calendar"></i></button>
                                        </span>
                                        <input type="text" id="ToDate" ng-model="TormDate" name="TormDate" class="form-control" placeholder="To Date" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">

                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-prepend">
                                            <button type="button" class="btn IconColor"><i class="fa fa-text-width"></i></button>
                                        </span>
                                        <input type="text" id="textUsername" ng-model="SearchItem" name="userName" class="form-control" placeholder="Requisition No">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <button style="width:100%;" class="btn btn-outline-dark" ng-click="SearchBtn()">Search </button>
                            </div>
                            <div class="col-md-2">
                                <button style="width:100%" class="btn btn-outline-danger" ng-click="ClearBtn()">Clear </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="table-responsive">
                                    <table id="item_table" class="table table-borderless table-hover mb-0 table-centered">
                                        <thead style="background-color:#87b3a6; ">
                                            <tr class="tableHeadCustom">
                                                <th class="text-center">S/N</th>
                                                <th class="text-center">Requestion No </th>
                                                <th class="text-center">Requisition Date</th>
                                                <th class="text-center">Employee Name</th>
                                                <th class="text-center">Counter Name</th>
                                                <th class="text-center">Status</th>

                                                <th class="text-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr id="datatable-buttons" dir-paginate="aPur in WorkShopRequestionList | itemsPerPage: PerPage" current-page="currentPage" total-items="total_count" pagination-id="Item">
                                                <td class="t-cell-center">{{$index + (( currentPage - 1) * PerPage) + 1}}</td>
                                                <td class="text-center">{{aPur.Number}}</td>

                                                <td class="text-center">{{aPur.RequistionDate}}</td>
                                                <td class="text-center">{{aPur.EmployeeName}}</td>
                                                <td class="text-center">{{aPur.CounterName}}</td>
                                                <td class="text-center">{{aPur.Status}}</td>
                                                <td class="text-center">

                                                    <!--<button class="btn IconColor" ng-click="UpdatePurchaserRequestion(aPur)">
                                            <i class="typcn typcn-edit" style="font-size:22px; color:black"></i>
                                        </button>-->
                                                    <button class="btn IconColor" ng-click="OpenReport(aPur.Number)">
                                                        <i class="typcn typcn-printer" style="font-size:22px; color:black"></i>
                                                    </button>
                                                </td>

                                            </tr>


                                        </tbody>
                                    </table>

                                    <div>
                                        <hr />
                                        <div ng-show="total_count >PerPage">
                                            <div class="btn" style="background-color:#2d4971">
                                                <dir-pagination-controls max-size="8"
                                                                         direction-links="true"
                                                                         boundary-links="true"
                                                                         on-page-change="getData(newPageNumber)" style="text-align:center;"
                                                                         pagination-id="Item">
                                                </dir-pagination-controls>
                                            </div>

                                        </div>

                                    </div>

                                    <br />


                                    <div class="row pagination-footer">
                                        <div class="col-md-6">
                                            <span>Show </span><input class="input-pagesize" type="number" ng-maxlength="100" ng-minlength="1" width="1" ng-model="PerPage"> <span>Records </span>
                                        </div>
                                        <div class="col-md-6">
                                            <span class="pull-right">Showing {{((currentPage-1)*PerPage)+1}} to {{((currentPage-1) * PerPage) + PurchaseRequestionList.length}} of {{total_count}} Records</span>
                                        </div>
                                    </div>

                                </div><!--end /tableresponsive-->
                            </div>
                        </div>
                    </div>
                </div>

            </div><!--end card-body-->


        </div><!--end card-->



    </div><!--end card-->

  
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog  modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Job Stock Item</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <table id="item_table" class="table table-border table-hover mb-0 table-centered">
                        <thead style="background-color:#87b3a6; ">
                            <tr class="tableHeadCustom">
                                <th class="text-center">S/N</th>
                                <th class="text-center">Item Name With Description</th>
                                <th class="text-center">Reusable Qty </th>
                                <th class="text-center">Damaged Qty</th>
                                <th class="text-center">RequireFromStor Qty </th>
                              
                            </tr>
                        </thead>
                        <tbody>
                            <tr id="datatable-buttons"  ng-repeat="aStore in StoreItemList track by $index">
                                <td class="t-cell-center">{{$index + 1 }}</td>
                                <td class="text-center">{{aStore.Combination}}</td>
                                <td class="text-center">{{aStore.ItemReusableQty}}</td>
                                <td class="text-center">{{aStore.ItemDamagedQty}}</td>
                                <td class="text-center">{{aStore.ItemRequiredFromStoreQty}}</td>
                            </tr>
                        </tbody>
                    </table>
                  
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
                </div>
            </div>
        </div>
    </div>
</div> <!-- end col -->
<!--<script src="../Content/assets/js/jquery.min.js"></script>-->
<!-- Required datatable js -->
<script src="../Content/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="../Content/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<!-- Buttons examples -->
<script src="../Content/assets/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="../Content/assets/plugins/datatables/jszip.min.js"></script>
<script src="../Content/assets/plugins/datatables/pdfmake.min.js"></script>
<script src="../Content/assets/plugins/datatables/vfs_fonts.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.html5.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.print.min.js"></script>
<script src="../Content/assets/plugins/datatables/buttons.colVis.min.js"></script>

<script src="../Content/assets/js/bootstrap.bundle.min.js"></script>
<script src="../Content/assets/js/metisMenu.min.js"></script>
<script src="../Content/assets/js/waves.min.js"></script>
<script src="../Content/assets/js/jquery.slimscroll.min.js"></script>




<script src="../../../Content/assets/Sample/irregular-data-seriz.js"></script>
<script src="../../../Content/assets/Sample/ohlc.js"></script>

<link href="../../../Content/ALLItemCustom.css" rel="stylesheet" />
<link href="../../../Content/PaginationCustom.css" rel="stylesheet" />
<style>

    .card {
        margin-bottom: 24px;
        border: none;
        -webkit-box-shadow: 0 6px 20px #44b4a1 !important;
        box-shadow: 0 6px 20px #44b4a1 !important;
        border-radius: 5px;
        background-color: #ffffff;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border-radius: 0.25rem;
    }

    .popover {
        max-width: 354px;
        word-break: break-all;
        word-wrap: break-word;
        width: 115%;
        max-height: 325px;
        overflow: auto;
    }

    .Pagination-And-Report {
        display: flex;
        margin-top: 25px;
        justify-content: space-between;
        align-items: center;
    }

    .Only-Report {
        display: flex;
        margin-top: 25px;
        justify-content: end;
        align-items: center;
    }
</style>

<script>
    $('#RequisitionDate').bootstrapMaterialDatePicker({
        format: 'YYYY-MM-DD',
        cancelText: 'Descartar',
        time: false,
        clearButton: true

    });

    $('#FormDate').bootstrapMaterialDatePicker({
        format: 'YYYY-MM-DD',
        cancelText: 'Descartar',
        time: false,
        clearButton: true

    });

    $('#ToDate').bootstrapMaterialDatePicker({
        format: 'YYYY-MM-DD',
        cancelText: 'Descartar',
        time: false,
        clearButton: true

    });
</script>




