
.card {
    margin-bottom: 24px;
    border: none;
    -webkit-box-shadow: 0 6px 20px #44b4a1 !important;
    box-shadow: 0 6px 20px #44b4a1 !important;
    border-radius: 5px;
    background-color: #ffffff;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}

.ribbon-1 .ribbon.ribbon-mark::before {
    border-color: #2d4971 transparent #2d4971 #2d4971 !important;
    border-image: initial;
    color: white;
}

.PalelColor {
    background-color: #2d4971;
}

.IconColor {
    color: #52ad9c !important;
    font-weight: bold;
}

.form-control {
    color: gray;
    border: 0;
    border-bottom: 1px solid #52ad9c !important;
    border-radius: 0;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
    background-color: #44b4a1 !important;
    border-color: #44b4a1 !important;
}

.checkbox input[type="checkbox"]:focus + label::before {
    outline-offset: -2px;
    outline: none;
}

.checkbox label::before {
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    background-color: #44b4a1 !important;
    border-radius: 3px;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    top: 0px;
    margin-left: -18px;
    position: absolute;
    transition: 0.3s ease-in-out;
    width: 18px;
    outline: none !important;
}


.radio label::before {
    -o-transition: border 0.5s ease-in-out;
    -webkit-transition: border 0.5s ease-in-out;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #44b4a1;
    content: "";
    display: inline-block;
    height: 18px;
    left: 0;
    top: 0px;
    margin-left: -18px;
    position: absolute;
    transition: border 0.5s ease-in-out;
    width: 18px;
    outline: none !important;
}

.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio label::after {
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -webkit-transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    background-color: #44b4a1;
    border-radius: 50%;
    content: " ";
    display: inline-block;
    height: 10px;
    left: 6px;
    margin-left: -20px;
    position: absolute;
    top: 4px;
    transform: scale(0, 0);
    transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33), -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    width: 10px;
}

.btn-outline-dark {
    color: #2d4971;
    background-image: none;
    background-color: transparent;
    border-color: #2d4971;
}

.btn-outline-danger {
    color: #f1646c;
    border-color: #f1646c;
}
