<!--<body class="landing is-preload">-->
<div id="page-wrapper">
    <!-- Header -->
    <header id="header" class="alt">

        <ul class="icons" style="position: center;">
            <li></li>
            <!--<li id="google_translate_element" style="float:left; margin-left:5px;margin-top:5px;"></li>-->
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/retailtechlimited" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://bd.linkedin.com/company/retail-sols" target="_blank" class="icon brands fa fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
            <!--<li><div id="google_translate_element"></div></li>-->
            <!--<li id="google_translate_element"></li>-->
        </ul>
        <nav id="nav">
            <ul>

                <li><a style="font-size:20px;font-weight:bold;">Home</a></li>

                <li><a ng-click="Register()" href="/Home/Registration#/Register" class="button">Apply For  Registration</a></li>
                <li id="google_translate_element" style="float:right; margin:5px;"></li>
                <li><!--<a id="google_translate_element" style="float:right; margin:5px;">Home2</a>--></li>
                <!--<li><a id="google_translate_element" style="float:right; margin:5px;" ></a></li>-->
            </ul>
        </nav>
        
        
    </header>
    
    <!-- Banner -->
    <section id="banner">
        <!--<div id="google_translate_element"></div>-->
        <!--<div class="row">
            <div class="col-8 col-xs-8 col-sm-8 col-md-8 col-lg-8"></div>
            <div class="col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4" id="google_translate_element"></div>
        </div>-->
        <h2>Power Up</h2>
        <p>Recharge your bike's battery anytime on your convenient location.</p>
        <ul class="actions special">
            <li><a ng-click="Log()" class="button primary">Sign In</a></li>
            <li><a ng-click="Register()" class="button">Apply For  Registration</a></li>
            <!--<li id="google_translate_element"></li>-->
        </ul>
    </section>

    <!-- Main -->
    <section id="main" class="container">

        <section class="box special">
            <header class="major">
                <h2>
                    Introducing the ultimate battery
                    <br />
                    swap system for your electric bike
                </h2>
                <p>Prior booking and on spot booking both are supported by our system so you can enjoy your ride without any worry.</p>
            </header>

            <span class="image featured">
                <img src="../../Content/LandingAssets/LandingImages/battery01.jpg" alt="battery 01" />
            </span>
        </section>

        <section class="box special features">
            <div class="features-row">
                <section>
                    <span class="icon solid major fa-map-marker accent2"></span>
                    <h3>Coverage Location</h3>
                    <p>We got covered maximum area where our most user belongs.</p>
                </section>
                <section>
                    <span class="icon solid major fa-retweet accent3"></span>
                    <h3>Swap Station</h3>
                    <p>Hundreds of Swap station to exchange the battery of the bike.</p>
                </section>
            </div>
            <div class="features-row">
                <section>
                    <span class="icon solid major fa-plug accent4"></span>
                    <h3>Charging Port</h3>
                    <p>Thousands of charging ports which can charge thousands of batteries.</p>
                </section>
                <section>
                    <span class="icon solid major fa-battery-full accent5"></span>
                    <h3>Swap Battery</h3>
                    <p>Swap your battery when you need. Book your battery now.</p>
                </section>
            </div>
        </section>

        <div class="row">
            <div class="col-6 col-12-narrower">
                <section class="box special">
                    <span class="image featured">
                        <img src="../../Content/LandingAssets/LandingImages/battery02.jpg" alt="battery 02" />
                    </span>
                    <h3>Advance Tech System</h3>
                    <p>The system is developed and controlled by advanced technologies to provide maximum benifits to the users.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
            <div class="col-6 col-12-narrower">

                <section class="box special">
                    <span class="image featured">
                        <img src="../../Content/LandingAssets/LandingImages/battery03.jpg" alt="battery 03" />
                    </span>
                    <h3>User-Friendly System</h3>
                    <p>A user friendly booking system for the customer and a complete control system for the admins.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button alt">Learn More</a></li>
                    </ul>
                </section>

            </div>
        </div>

    </section>

    <!-- CTA -->
    <section id="cta">

        <h2>Sign Up for Get Access</h2>
        <p>Get Power Up services now.</p>

        <form>
            <div class="row gtr-50 gtr-uniform">
                <div class="col-3 col-12-mobilep center"></div>
                <div class="col-6 col-12-mobilep center">
                    <input type="submit" value="Apply For  Registration" ng-click="Register()" class="fit" />
                </div>
            </div>
        </form>

    </section>

    <!-- Footer -->
    <footer id="footer">

        <ul class="icons">
            <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="https://www.facebook.com/retailtechlimited" target="_blank" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://bd.linkedin.com/company/retail-sols" target="_blank" class="icon brands fa fa-linkedin"><span class="label">LinkedIn</span></a></li>
            <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon brands fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon brands fa-dribbble"><span class="label">Dribbble</span></a></li>
            <li><a href="#" class="icon brands fa-google-plus"><span class="label">Google+</span></a></li>
        </ul>
        <ul class="copyright">
            <li>&copy; RTL. All rights reserved</li>
            <li>by <a href="http://rtbd.com">RTL soft</a></li>
        </ul>
    </footer>

</div>

<!-- Scripts -->
<!-- <script src="assets/js/jquery.min.js"></script> -->
<script src="../../Content/LandingAssets/js/jquery.dropotron.min.js"></script>
<!--<script src="assets/js/jquery.dropotron.min.js"></script>-->
<!--<script src="assets/js/jquery.scrollex.min.js"></script>-->
<script src="../../Content/LandingAssets/js/jquery.scrollex.min.js"></script>
<script src="../../Content/LandingAssets/js/browser.min.js"></script>
<!--<script src="assets/js/browser.min.js"></script>-->
<!--<script src="assets/js/breakpoints.min.js"></script>-->
<script src="../../Content/LandingAssets/js/breakpoints.min.js"></script>
<script src="../../Content/LandingAssets/js/util.js"></script>
<!--<script src="assets/js/util.js"></script>-->
<!--<script src="assets/js/main.js"></script>-->
<script src="../../Content/LandingAssets/js/main.js"></script>
<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<!--</body>-->


<script>
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        $('.skiptranslate span').remove();
        $('.goog-te-combo').height('36px');
    }
    //$('.skiptranslate ').
    //$('.skiptranslate span').css("display", "none");
    (function ($) {

        var $window = $(window),
            $body = $('body'),
            $header = $('#header'),
            $banner = $('#banner');

        // Breakpoints.
        breakpoints({
            wide: ('1281px', '1680px'),
            normal: ('981px', '1280px'),
            narrow: ('737px', '980px'),
            narrower: ('737px', '840px'),
            mobile: ('481px', '736px'),
            mobilep: (null, '480px')
        });

        // Play initial animations on page load.
        $window.on('load', function () {
            window.setTimeout(function () {
                $body.removeClass('is-preload');
            }, 100);
        });

        // Dropdowns.
        $('#nav > ul').dropotron({
            alignment: 'right'
        });

        // NavPanel.

        // Button.
        $(
            '<div id="navButton">' +
            '<a href="#navPanel" class="toggle"></a>' +
            '</div>'
        )
            .appendTo($body);

        // Panel.
        $(
            '<div id="navPanel">' +
            '<nav>' +
            $('#nav').navList() +
            '</nav>' +
            '</div>'
        )
            .appendTo($body)
            .panel({
                delay: 500,
                hideOnClick: true,
                hideOnSwipe: true,
                resetScroll: true,
                resetForms: true,
                side: 'left',
                target: $body,
                visibleClass: 'navPanel-visible'
            });

        // Header.
        if (!browser.mobile
            && $header.hasClass('alt')
            && $banner.length > 0) {

            $window.on('load', function () {

                $banner.scrollex({
                    bottom: $header.outerHeight(),
                    terminate: function () { $header.removeClass('alt'); },
                    enter: function () { $header.addClass('alt reveal'); },
                    leave: function () { $header.removeClass('alt'); }
                });

            });

        }

    })(jQuery);
</script>